@font-face {
    font-family: Comfortaa;
    src: url(fonts/Comfortaa-Bold.ttf);
    src: url(fonts/Comfortaa-Light.ttf);
    src: url(fonts/Comfortaa-Medium.ttf);
    src: url(fonts/Comfortaa-Regular.ttf);
    src: url(fonts/Comfortaa-SemiBold.ttf);
}

div {
    font-family: Comfortaa;
}
