@font-face {
    font-family: Comfortaa-Bold;
    src: url(fonts/Comfortaa-Bold.ttf);
}
@font-face {
    font-family: Comfortaa-Light;
    src: url(fonts/Comfortaa-Light.ttf);
}
@font-face {
    font-family: Comfortaa-Medium;
    src: url(fonts/Comfortaa-Medium.ttf);
}
@font-face {
    font-family: Comfortaa;
    src: url(fonts/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: Comfortaa-Semibold;
    src: url(fonts/Comfortaa-SemiBold.ttf);
}

#Wenova_top_left {
    font-family: Comfortaa-Bold;
}

#MenuBar {
    font-family: Comfortaa;
}

#sp_heading {
    font-family: Comfortaa-Bold;
}

#sp_author {
    font-family: Comfortaa-Light;
}
