@font-face {
    font-family: Comfortaa-Bold;
    src: url(Comfortaa-Bold.ttf);
}
@font-face {
    font-family: Comfortaa-Light;
    src: url(Comfortaa-Light.ttf);
}
@font-face {
    font-family: Comfortaa-Medium;
    src: url(Comfortaa-Medium.ttf);
}
@font-face {
    font-family: Comfortaa;
    src: url(Comfortaa-Regular.ttf);
}
@font-face {
    font-family: Comfortaa-Semibold;
    src: url(Comfortaa-SemiBold.ttf);
}

#Wenova_top_left {
    font-family: Comfortaa-Bold;
}
/*
#Men_Bar {
    font-family: Comfortaa;
}
*/
